@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');




*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 20px;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: 'Philosopher', sans-serif;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: ;
}

/*Header Section*/
#header{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}
#header .header{
    min-height: 8vh;
    background-color: yellow;
    transition: .3s ease background-color;
}
#header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}
#header .container h1{
    color: black;
    letter-spacing: .3rem;
    text-transform: uppercase;
}
#header .container h1 span{
    color: ;
}
#header .nav-list ul{
    list-style: none;
    position: absolute;
    background-color: yellow;
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
    transition: .5s ease left;
}
#header .nav-list ul.active{
    left: 0;
}
#header .nav-list li a{
    color: black;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    padding: 20px;
    display: block;
}
#header .nav-list li a::after{
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgb(153, 134, 134);
    font-size: 8rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: .3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after{
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}
#header .nav-list ul li:hover a{
    color: black;
}
#header .hamburger{
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 100;
    cursor: pointer;
    transform: scale(.8);
    margin: 20px;
    
}
#header .hamburger:after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid black;
    animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar{
    height: 2px;
    width: 30px;
    position: relative;
    background-color: black;
    z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: black;
    transition: .3s ease;
    transition-property: top, bottom;
}
#header .hamburger .bar::after{
    top: 8px;
}
#header .hamburger .bar::before{
    bottom: 8px;
}
#header .hamburger.active .bar::before{
    bottom: 0;
}
#header .hamburger.active .bar::after{
    top: 0;
}
/*End Header Section*/

/*Hero Section*/
#hero{
    background-color: black;
}
#hero .hero{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
    position: relative;

}
#hero .container h1{
    margin-bottom: 2px;
    color: yellow;
    letter-spacing: .1rem;
}
#hero .container h3{
    color: yellow;
}
#hero .container h4{
    font-size: 25px;
    color: yellow;
    letter-spacing: .1rem;
}
#hero .container h1 span{
    color: white;
}
#hero .wrapper .dynamic-txts{
    margin-left: 15px;
    height: 30px;  
    line-height: 30px;
    overflow: hidden;
    position: relative;
    letter-spacing: .1rem;
}
#hero .wrapper .dynamic-txts li{
    font-size: 30px;
    position: relative;
    list-style: none;
    color: white;
    display: ;
    font-weight: ;
    top: 0;
    background: black;
    animation: slide 6s steps(4) infinite;
}

@keyframes slide{
    100%{
        top: -130px;
    }
}
#hero .wrapper .dynamic-txts li span{
    position: relative;
}
#hero .wrapper .dynamic-txts li span::after{
    content: '';
    position: absolute;
    color: blueviolet;
    left: 0;
    height: 100%;
    width: 100%;
    background: black;
    border-left: 2px solid white;
    animation: typing 1.5s steps(11) infinite;
}
@keyframes typing{
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}
#hero .wrapper  {
    display: inline-flex;
}
#hero .cta{
    display: inline-block;
    padding: 10px 30px;
    color: black;
    background-color: whitesmoke;
    border: 2px;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 20px;
    transition: .3s ease;
    transition-property: background-color, color;
    
}
#hero .cta:hover{
    color: black;
    background-color: yellow;
}
/*End Hero Section*/

/*About Section*/
#about{
    background-color: yellow;
}
#about .about{
    position: relative;
    flex-direction: column;  
    min-height: 120vh; 
}
#about .about-section{
    margin-bottom: 20px;
}
#about .container h1{
    letter-spacing: .3rem;
    font-size: 35px;
    margin-bottom: 20px;
}
#about .container p{
    max-width: 280px;
    font-size: 0.9rem;
    text-align: justify;
    font-weight: 500;
    line-height: 25px;
    
}
#about .container h1 span{
    color: rgb(124, 113, 113);
}
/*End About Section*/

/*Service Section*/
#services{
    background-color: yellow;
}
#services .service{
    position: relative;
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}
#services .section-title{
    text-align: center;
    letter-spacing: .3rem;
    font-size: 38px;
    margin-bottom: 10px;
    font-weight: ;
}
#services .container h1 span{
    color: rgb(124, 113, 113);
}
#services .service-top p{
    font-size: 1rem;
}
#services .container p{
    font-size: 0.9rem;
}
#services .service .bottom img{
    align-items: center;
    flex-direction: column-reverse;
    max-width: 350px;   
}
#services .service-item{
    flex-basis: 50%;
    padding: 5px;
    border-radius: 10px;
    margin: 2px 2%;
    background-size:;
    flex-direction: column;
    position: relative;
    display: flex;
    /*background-color: lightyellow;*/
}
/*End Service Section*/

/*Brand Section*/
#brands {
    background-color: yellow;
}
#brands .brand{
    text-align: center;
    flex-direction: column;
    min-height: 160vh;
}
#brands .container{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}
#brands .section-title{
    letter-spacing: .3rem;
    text-align: center;
    font-size: 38px;
    margin-bottom: 10px;
}
#brands .container h1 span{
    color: rgb(124, 113, 113);
}
#brands .container p{
    max-width: 350px;
    margin-bottom: 10px;
    font-size: 0.6rem;
}
#brands .container h3{
    text-decoration: underline;
    margin-bottom: 5px;
}
#brands .brand-item{
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
    position: relative;
    display: flex;
    margin: 0px 2%;
    border-radius: 5px;
    background-size: ;
    background-color: ;
}

/*End Brand Section*/

/*Contact Section*/
#contacts{
    background-color: yellow;
}
#contacts .container{
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;
}
#contacts .contact{
    min-height: 170vh;
}
#contacts .section-title{
    font-size: 38px;
    letter-spacing: .3rem;
}
#contacts .container h1 span{
    color: rgb(124, 113, 113);
}
#contacts .contact-items{
    width: 400px;
}
#contacts .contact-item{
    padding: 20px;
    align-items: center;
    display: flex;
    padding: 30px;
    margin: 30px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0 black;
    transition: .3s ease box-shadow;
}
#contacts .contact-item:hover{
    box-shadow: 0px 0px 5px 0 black;
}
#contacts .icon{
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}
#contacts .contact-info h1{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 5px;
}
#contacts .contact-info h2{
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
}
/*End Contact Section*/

/*Footer Section*/
#footer{
    background-color: black;
}
#footer .footer{
    flex-direction: column;
    min-height: 200px;
    padding-top: 50px;
    padding-bottom: 10px;
}
#footer .container h1{
    color: white;
    font-size: 1rem;
    margin-top: 50px;
    margin-bottom: 20px;
    letter-spacing: .1rem;
}
#footer .container h1 span{
    color: yellow;
}
#footer .container h2{
    color: white;
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 5px;
}
#footer .container p{
    color: white;
    font-size: 0.6rem;
}
#footer .social-icon{
    display: flex;
    margin-bottom: 30px;
}
#footer .social-item{
    margin: 0 5px;
}
/*End Footer Section*/

/*Keyframes*/
@keyframes hamburger_puls{
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(1.4);
    }
}
/*End Keyframes*/
/*Media Query For Desktop*/
@media  screen and (min-width: 1200px) {
    /*header*/
    #header .hamburger{
        display: none;
    }
    #header .nav-list ul{
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }
    #header .nav-list ul li{
        display: inline-block;
    }
    #header .nav-list ul li a{
        font-size: 1.4rem;
    }
    #header .nav-list ul a:after{
        display: none;
    }
    /*End header*/
}
/*End Media Query For Desktop*/

/*Media Query For Tablet*/
@media only screen and (min-width: 768px) {

    /*title*/
    #hero .hero{
        text-align: ;
        margin-left: 400px;
    }
    /*End title*/
    /*About*/
    #about p{
        max-width: 610px;
        margin-top: 20px;
    }
    /*End About*/


    /*Services*/
    #services .service-bottom{
        display: flex;
        margin-left: 0px;
        padding-left: 1px;
        margin-right: 7px;

    }
    #services .service-item{
        margin-left: 0px;
        margin: 2px;
        width: 250px;
        margin-right: px;
        margin-top: 15px;
        
    }
    #services .service-item img{
        height: 200px;
        width: 250px;
    }
    /*End services*/

    /*brand*/
#brands .brand{
    min-height: 120vh;
}
#brands .brand-items{
    display: flex;
    width: 100%;
    margin-left: px;
}
#brands .brand-item{
    width: px;
    height: px;
    margin-right: px;
    
} 
#brands .brand-top p{
    font-size: 0.8rem;
    max-width: 800px;
}   


    /*End brand*/


    /*contact*/
#contacts .contact{
    min-height: 90vh;
}
#contacts .contact-items{
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    align-items: center;
    justify-content: center;
    min-height: 20vh;
    width: 90%;
    margin-top: px;
}
#contacts .contact-item{
    width: 400px;
}

    /*End contact*/
}
/*End Media Query For Tablet*/
